
.selectoptions {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: none;
}

.headersorter {
	background-color: #ffffff;
	padding: 5px 5px 5px 5px;
	border: none;
	font-family: 'Bellota', cursive;
	cursor: pointer;
}

.headersortbox {
	position: relative;
	display: inline-block;
	left: 10%;
}

.dropdowns {
	position: relative;
	display: inline;
	width: 100%;
	left: 20%;
}
.header {
	position: relative;
	display: inline-block;
	width: 100%;
	background-color: #FFA500;
	height: 35px;
}
.headermedia {
	position: relative;
	display: inline;
}
.headeritems {
	position: relative;
	display: inline-block;
	right: 0%;
	margin-right: 2%;
}

.headerlink {
	position: relative;
}
.headerimages {
	position: relative;
	top: 5px;
	right: 1%;
	width: 25px;
}

.headerphone {
	left: 15%;
	position: relative;
	display: inline-block;
	font-size: 80%;
	font-family: 'Bellota', cursive;
	margin-right: 2%;
}

.headergmail {
	left: 20%;
	position: relative;
	display: inline-block;
	font-family: 'Bellota', cursive;
	font-size: 90%;
	width: 55%;
}
.headerphoneimage {
	display: inline-block;
	width: 20px;
	margin-right: 5px;
}

.headergmailimage {
	display: inline-block;
	width: 20px;
	margin-right: 5px;
}

.navigationbar {
	display: inline-block;
	width: 100%;
}

.logo {
	display: inline-block;
	position: relative;
	width: 100px;
	left: 10%;
	margin-right: 17%;
}
.Search {
	display: inline-block;
	position: relative;
	right: 0%;
	font-family: 'Bellota', cursive;
	width: 60%;
}
.searchbar {
	width: 80%;
	border-radius: 10px 10px 10px 10px;
	margin-right: 5px;
}

.searchimage {
	position: inline-block;
	width: 25%;
	top: 6px;
	position: relative;
}

@media (max-width: 1024px) {
	.dropdowns {
		display: none;
	}
}

@media (max-width: 856px) {
	.searchbar {
		display: none;
	}
	.searchimage {
		position: absolute;
		top: -70px;
		width: 30px;
		right: 0%;
	}
}

@media (max-width: 599px) {
	.header {
		height: 80px;
		width: 80%;
	}
	.headerphone {
		left: 40%;
	}
	.searchimage {
		width: 70px;
		top: -110px;
	}
	.headergmail {
		left: 30%;
		display: block;
	}
	.headermedia {
		left: 25%;
		display: block;
	}
	.headerimages {
		margin-right: 25px;
	}
}
