.detailadd {
        position: relative;
        display: inline-block;
        margin-top : 0%;
        text-align: center;
        justify-content: center;
        margin-left: 30%;
        padding: 10px;
        background-color: #2C2E7B;
        color: #ffffff;
        border-radius: 25px 25px 25px 25px;
        font-family: 'Bellota';
}

.detailadd:hover {
        background-color: #a818FF;
        transition-property: background-color;
        transition-duration: 0.4s;
}


.products {
	display: inline-block;
	position: relative;
	width: 250px;
	margin-right: 5%;
	border-radius: 25px 25px 25px 25px;
	background-color: #ffbb00;
	color: #0670ec;
}

.products:hover {
	width: 300px;
	transition-property: width;
	transition-duration: 0.5s;
}
.product {
	margin-top: 30px;
	display: inline-block;
	position: relative;
	left: 10%;
	width: 80%;
}

.productimage {
	width: 100%;
}

.productname {
	position: relative;
	justify-content: center;
	left: 40%;
	width: 30%;
	font-family: 'Chakra Petch', sans-serif;
}

.productprice {
	position: relative;
	justify-content: center;
	left: 40%;
	font-family: 'Gugi', cursive;
}

.productcolor {
	position: relative;
	justify-content: center;
	left: 40%;
	font-family: 'Black Ops One', cursive;
}

@media (max-width: 900px) {
	.products {
		width: 200px;
	}
	.products:hover {
		width: 250px;
	}
}

@media (max-width: 770px) {
	.product {
		left: 0px;
	}
	.products {
		left: 0px;
		margin-left: 0px;
		width: 100%;
		margin-right: 0px;
		right: 0px;
	}
	.products:hover {
		width: 100%;
	}
}
@media (max-width: 370px) {
	.productname {
		left: 25%;
	}
	.productprice {
		left: 25%;
	}
	.productcolor {
		left: 25%;
	}
	.detailadd {
		margin-left: 20%;
	}
}
@media (max-width: 279px) {
	.productname {
		left: 20%;
	}
	.productprice {
		left: 20%;
	}
	.productcolor {
		left: 20%;
	}
	.detailadd {
		margin-left: 20%;
	}

	.detailadd {
		margin-left: 10%;
	}
}
@media (max-width: 235px) {
	.detailadd {
		margin-left: 5%;
	}
}
